configuration{
    modi: "run,window,filebrowser,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "zsh";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🌐 All ";
    display-run: " ▶️  Run ";
    display-window: " 🔳 Window";
    display-filebrowser: "📁 Files";
    display-drun: "⚡ dRun";
    sidebar-mode: true;
}
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
